* {
    margin: 0px;
    padding: 0px;
}

body {

    background: rgb(2,0,36);
    background: linear-gradient(90deg, purple, blue);

}

#box {
    margin: 0 auto;
    width: 800px;
    position: relative;
    margin-top: 40px;
    top: 50px;
    border:solid black;
    border-radius: 5px;
    border-width: 3px;
}

#NumMaisProx {
    width: 100%;
    background-color: crimson;
    border-bottom:solid black;
    border-radius: 1px;
    border-width: 3px;
    text-align: center;
}

#potencia {
    width: 100%;
    background-color: crimson;
    border-bottom:solid black;
    border-width: 3px;
    text-align: center;
    border-width: 3px;
}

#raioCirculo {
    width: 100%;
    background-color: crimson;
    border-bottom: solid black;
    text-align: center;
    border-width: 3px;
}

#medidaCubo {
    width: 100%;
    background-color: crimson;
    border-bottom: solid black;
    text-align: center;
    border-width: 3px;
}

#raizQuadrada {
    width: 100%;
    background-color: crimson;
    text-align: center;
    border-width: 3px;
}

.legenda {
    font-size: 15px;
}

#calculos h2 {
    padding: 5px;
}

.btn {
    border: solid 1px black;
    background-color: blueviolet;
    color: white;
    border-width: 1px;
    padding: 4px 7px;
    width: 80px;
}

.btn:hover {
    background-color: rgb(188, 132, 240);
    color: black;
    box-shadow: inset 0 0 0 2px crimson;
    transition: 1s ease;
}

.sections {
    padding: 10px 0 10px 0;
}

.sections h4 {
    padding: 10px 0 10px 0;
}

.num {
    padding: 5px;
    width: 80px;
    background: rgb(14, 196, 141);
}

.result {
    padding: 5px;
    width: 60px;
    background:rgb(14, 196, 141)
}